@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  text-align: center;
  height: 10vh;
  margin-top: 1rem;
  font-size: 1.6rem;
  //   border: 1px solid red;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  //   flex-wrap: wrap;
  .contact {
    // border: 1px solid red;
  }
  .form {
    // border: 1px solid olive;
    // width: 30%;
    // width: 100%;
    opacity: 0.7;
    max-width: 500px;

    label {
      display: inline-block;
      padding: 0.3rem;
    }
    h3 {
      padding: 0.3rem;
    }
    .label2 {
      //   border: 1px solid gray;
      display: flex;
      padding: 0.2rem;
      margin-top: 0.6rem;
      width: 100%;
      justify-content: flex-start;
      gap: 10rem;
    }
  }
  .input {
    border: 1px solid gray;
    width: 400px;
    border-radius: 10px;
    padding: 0.1rem;
    .inputbox {
      border: none;
      outline: none;
    }
  }
  .icon {
    margin: 5px 5px;
  }
  .shipping {
    h3 {
      margin-top: 1rem;
    }
  }
  .country-postcode {
    display: flex;
    justify-content: space-between;
    // gap: 4rem;
    .country {
      display: flex;
      justify-content: space-around;
      border: 1px solid gray;
      border-radius: 10px;
      // width: 30%;
      padding: 0.3rem 0;

      #country {
        border: none;
        outline: none;
      }
    }
    .postcode {
      display: flex;
      justify-content: space-around;
      border: 1px solid gray;
      border-radius: 10px;
      padding: 0.3rem 0;
      #text {
        border: none;
        outline: none;
      }
    }
  }
  .checkbox1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    // border: 1px solid red;
    margin-top: 1rem;
    height: 4rem;
    column-gap: 1rem;

    #checkbox {
      //   border: 1px solid olive;
    }

    h3 {
      //   border: 1px solid cyan;
      height: 2rem;
    }
  }
  .btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    button {
      padding: 0.4rem;
      border: none;
      border-radius: 7px;
      color: #fff;
      background-color: orange;
      &:hover {
        cursor: pointer;
        transform: scale(90%);
      }
    }
  }
  .pay {
    background-color: rgba($color: #c4bdbd4b, $alpha: 0.4);
    // width: 35%;
    height: 500px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .product {
      //   border: 1px solid red;
      display: flex;
      width: 100%;
      padding: 1rem;
      justify-content: space-around;
      img {
        width: 50%;
        border-radius: 10px;
        min-width: 100px;
      }
      .item {
        // border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        p {
          font-size: 2rem;
          color: orange;
        }
        span {
          color: black;
          text-decoration: line-through;
          font-size: 1.4rem;
        }
        .minusplus {
          display: flex;
          border: 1px solid olive;
          width: 50%;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;
          p {
            color: black;
            font-size: 1.4rem;
          }
          .fa-solid {
            // border: 1px solid red;
            background-color: rgba($color: #c1b9b92c, $alpha: 1);
            margin: 0 5px;
          }
        }
      }
    }
    .price {
      //   border: 1px solid olive;
      height: 25%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .shipping-total {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid gray;
        margin: 0 1rem;
        padding: 0.5rem 0;
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media all and (max-width: 1355px) {
  .container {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    .form {
      width: 35%;
      margin: 2rem auto;
      // border: 1px solid red;
      .contact {
        margin: 1rem auto;
      }
      .country-postcode {
        justify-content: start;
        gap: 6.3rem;
      }
    }
    .pay {
      width: 60%;
      height: 600px;
      margin: 2rem auto;
      .product {
        margin: 0.5rem;
        .price {
          padding: 0.5rem;
        }
      }
    }
  }
  body {
    // background-color: gray;
  }
}
